<table id="domain-table" class="table">
  {% for domain in domains %}
  <tr class="alert alert-{{results[domain].cssClass}}">
    <td>{{domain}}</td>
    <td align="right" style="text-align:right;">
      {% if reports[domain] %}
      <small>{{reports[domain].total}} links checked in {{reports[domain].duration}}. <span class="badge {{reports[domain].failedCss}}">{{reports[domain].failed.length}}</span> failed.</small>
      {% endif %}
    </td>
  </tr>
  {% endfor %}
</table>
{% if isDebug %}
<pre>{{ resultsDebug}}</pre>
{% endif %}
