{% extends 'layout.html' %}

{% block content %}
<div class="row">
  <div id="messages"></div>
  <div class="column16" id="domains">
    {% include 'domains.html' %}
  </div>
</div>
{% endblock %}

{% block scripts %}
<script>

var t;
$(function() {
  update(function() {
    t = window.setInterval(update, 30000);
  });
});

function update(cb) {
  var el = $('#domains');

  $.ajax({
    url: "/update",
    type: "GET",
    dataType: "text",
    contentType: "application/text",
    cache: false,
    beforeSend: function() {
      el.addClass('loading');
      notify('Checking sites....', 'alert alert-info');
    },
    complete: function() {
      el.removeClass('loading');
    },

    success: function(data) {
      notify('Sites updated', 'alert alert-success');
      el.html(data);
      setTimeout(hide($('#messages')), 5000);
      cb && cb();
    },

    error: function(xhr, status, errorText) {
      notify('There was a problem checking the sites. Reload the page to try again.', 'alert alert-error');
      console.log('process error', errorText);
    },
  });
}

function hide(el) {
 el.hide(); 
}

function notify(message, css) {
  var notifier = $('#messages');
  notifier.removeClass();
  notifier.addClass(css);
  notifier.html(message);
  notifier.show();
}

</script>

{% endblock %}
