{% extends 'layout.html' %}

{% block content %}
<div class="row">
  <div class="alpha omega column16" id="domains">
    {% include 'domains.html' %}
  </div>
  <div class="alpha omega column16" id="logs"></div>
</div>
{% endblock %}

{% block scripts %}
<script>

var t;
var m = $('#messages'),
    w = $('.container16').width(); 

$(function() {
  update(function() {
    t = window.setInterval(update, 60000);
  });

  resetMessagesUI();

  window.onresize = function() {
    w = $('.container16').width(); 
    resetMessagesUI();
  }

});

function resetMessagesUI() {
  if(m.width() >= w) {
    m.width(m.width() - 70);
  } else {
    m.width(w);
  }
}

var logs = [];

function update(cb) {
  var el = $('#domains');

  $.ajax({
    url: "/update",
    type: "GET",
    dataType: "text",
    contentType: "application/text",
    cache: false,
    beforeSend: function() {
      el.addClass('loading');
      notify('Checking sites....', 'alert alert-info');
    },
    complete: function() {
      el.removeClass('loading');
    },

    success: function(data) {
      hide($('#messages'));
      el.html(data);
      logs[logs.length + 1] = { message: "Successfully ran @ " + new Date().toLocaleTimeString(), status: 'info'};
      displayLogs(); 
      cb && cb();
    },

    error: function(xhr, status, errorText) {
      notify('There was a problem checking the sites. Reload the page to try again.', 'alert alert-error');
      logs[logs.length + 1] = { message: "Failed run @ " + new Date().toLocaleTimeString(), status: 'error'};
      displayLogs();
      console.log('process error', errorText);
    },
  });
}

function displayLogs() {
  var ui = $('#logs'),
      itemTemplate = '<p class="alert alert-<status>"><msg></p>';

  ui.html('');
  for(var log in logs) {
    var entry = itemTemplate.replace('<msg>',logs[log].message); 
    entry = entry.replace('<status>',logs[log].status); 
    $('#logs').append(entry);
  }
}

function hide(el) {
 el.hide(); 
}

function notify(message, css) {
  var notifier = $('#messages');
  notifier.removeClass();
  notifier.addClass(css);
  notifier.html(message);
  notifier.show();
}

</script>

{% endblock %}
