{% extends 'layout.html' %}

{% block content %}
<div class="row">
  <div class="column16" id="domains">
    {% include 'domains.html' %}
  </div>
</div>
{% endblock %}

{% block scripts %}
<script>
$(function() {
  var t = window.setInterval(update, 30000);
});

function update() {
  var el = $('#domains');
  $.ajax({
    url: "/update",
    type: "GET",
    dataType: "text",
    contentType: "application/text",
    cache: false,
    timeout: 5000,
    beforeSend: function() {
      el.addClass('loading');
    },
    complete: function() {
      el.removeClass('loading');
    },

    success: function(data) {
      el.html(data);
    },

    error: function(xhr, status, errorText) {
      console.log('process error');
    },
  });
}

</script>

{% endblock %}
